@page "/genstands-side/{Id:int}"

@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<PageTitle>Genstands side</PageTitle>


<NavLink href="/genstand-list">
    ←
</NavLink>
<div class="page-container">
    

    @if (genstand != null)
    {
        <div class="content-container">
            <div class="details-container">
                <h2>Genstands detaljer</h2>

                <div class="detail">
                    <span class="label">Id:</span>
                    <span class="value">@genstand.Id</span>
                </div>

                <div class="detail">
                    <span class="label">Name:</span>
                    <span class="value">@genstand.Name</span>
                </div>

                <div class="detail">
                    <span class="label">Description:</span>
                    <span class="value">@genstand.Description</span>
                </div>

                <div class="detail">
                    <span class="label">Dato på registreret genstand:</span>
                    <span class="value">@genstand.DateOfGenstand.ToString("dd-MM-yyyy")</span>
                </div>

                <div class="detail">
                    <span class="label">Størrelse:</span>
                    <span class="value">@genstand.Size</span>
                </div>

                <div class="detail">
                    <span class="label">Placering:</span>
                    <span class="value">@genstand.Placement</span>
                </div>

                <div class="detail">
                    <span class="label">Tilstand:</span>
                    <span class="value">@genstand.Condition</span>
                </div>

                <div class="detail">
                    <span class="label">Udlånt:</span>
                    <span class="value">@UdlantText(genstand.Loan)</span>
                </div>

                <div class="detail">
                    <span class="label">Film Id:</span>
                    <span class="value">@genstand.FilmId</span>
                </div>
              
            </div>

            <!--image place-->
            <div class="image-container">
                <div class="detail">
                    <span class="label">Billede:</span>
                    <span class="image-value">@genstand.PhotoReference</span>
                </div>
            </div>

        </div>
        
    }
    else
    {
        <p>ingen genstand fundet...</p>
    }
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private Genstand genstand;

    protected override async Task OnParametersSetAsync()
    {
        var response = await httpClient.GetAsync($"api/Genstand/Single-Genstand/{Id}");
        if (response.IsSuccessStatusCode)
        {
            genstand = await response.Content.ReadFromJsonAsync<Genstand>();
        }
        else
        {
            // Handle the error, e.g., display a message or navigate back
            NavigationManager.NavigateTo("/genstand-list");
        }
    }

    private void GoBack(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/genstand-list");
    }

    private string UdlantText(bool isLoan)
    {
        return isLoan ? "Udlånt" : "Ledig";
    }

}